body
  background #dde
  padding 0px
  margin 0px
  font-family tahoma
  color: black

h1
  width 100%
  text-align center
  background white
  padding 15px 0px
  margin 0px
  color #aad

h2
  margin-top 5px
  margin-bottom 5px

h3 
  margin 0px 30px

hr
  color: #ccd
  border none;
  border-top 1px solid #bbc
  height 0px

    
.content 
  background yellow
  width 800px
  margin auto
  padding 0px

  .main
    margin-top 10px
    width 590px

  .snacklist, .main
    margin 15px
    float left

  .snacklist
    h2
      text-align center
    width 150px
    input
      margin-left 25px



.snacklabel
  cursor pointer
  color #669
  margin-left: 10px
  &:hover
    color #aad

.account
  float right

.answer, .snack
  width 98%
  .author
    float right
    

.newsnack
  input.name
    width 200px
    margin-bottom 8px

  textarea.description
    width 97%
    height 50px

.snack
  padding 10px
  margin 10px 0px
  background #bbb
  line-height: 1.5em
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.5), inset 0px 2px 0px 0px #fff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #eee), color-stop(1, #ccc) );
  background:-moz-linear-gradient( center top, #eee 5%, #ccc 100% );
  background-color:#ccd;
  text-shadow: 0px 1px white
  color #555
  .author
    color #888

.answer
  padding 10px
  margin 10px 0px
  background #ffe
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px
  line-height: 1.5em
  .body
    font-style italic
  .author
    font-family Corsiva, "Lucida Handwriting", 'Comic Sans MS', cursive;
    color #998

.newanswer
  textarea
    width 97%
    height 50px

.clear
  clear both

.footer
  position absolute
  bottom 0px
  width 100%
  text-align center

input, textarea
  padding 5px
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #aab;

input[type=button]
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.5), inset 0px 2px 0px 0px #fff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #eef), color-stop(1, #ccd) );
  background:-moz-linear-gradient( center top, #eef 5%, #ccd 100% );
  background-color:#ccd;
  color:#444;
  padding:4px 14px;
  text-decoration:none;
  &:hover 
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #eef), color-stop(1, #ccd) );
    background:-moz-linear-gradient( center top, #eef 5%, #ccd 100% );
    background-color:#ccd;
  &:active 
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5), inset 0px 2px 0px 0px #fff;
    position:relative;
    top:1px;
